@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

@tailwind base;
@tailwind components;

body {
    font-family: 'Inter', serif;
    @apply text-black
}

.title {
    @apply text-2xl text-blue-900 font-bold
}
@tailwind utilities;